    <!-- Footer -->
    <footer class="text-center text-lg-start bg-transparent ">
        <!-- Section: Social media -->
      
        <div>
          <section
          class="d-flex justify-content-center justify-content-lg-between p-4 social-media"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-dark">
              <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
            </a>
         
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class=" fw-bold mb-4 logo">
                  Bakery House
                </h6>
                <p class="text-muted">
                  Bakery House was firstly established on 2010 to introduce the taste of love through our cake all over the world. We ar now only located on Kathmandu, Pokhara, Bhaktapur and Lalitpur. We are expanding as much as possible
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset">Cake</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Dounot</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Cupcake</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Others</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="" class="text-reset">Menu</a>
                </p>
                <p>
                  <a href="/about" class="text-reset">About Us</a>
                </p>
                <p>
                  <a href="/contact" class="text-reset">Contant Us</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">FQA</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fa fa-home fa-lg" aria-hidden="true"></i> &nbsp;
                  Balaju, 16 KTM Nepal</p>
                <p>
                  <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;
      
                  bakeryhouse@gmail.com
                </p>
                <p><i class="fa fa-mobile fa-2x" aria-hidden="true"></i> &nbsp;
                </i> + 977 9841414407</p>
                <p><i class="fa fa-phone fa-2x" aria-hidden="true"></i> &nbsp;
                  + 977 01-4935678</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Bakery House</a>
        </div>
        <!-- Copyright -->
        </div>
        
      </footer>
      <!-- Footer -->
      