<header>

    
    {% block head %}

    {%endblock%}
    <nav class="navbar navbar-expand-xl  bg-transparent " >
        <div class="container-fluid">
            
          <a class="navbar-brand" href="/">Bakery House</a>
          <button class="navbar-toggler navbar-toggler-right " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 left-section">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/order">Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/menu">Menu</a>
              </li>
              <li class="nav-item">
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/message">Customer Message</a>
              </li>
             
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0 right-section">
               
               <li class="nav-item">
                <a class="nav-link cta nav-cta" href="/admin/logout"> <button class="btn-login"> Log Out </button> </a>

               </li>
              </ul>
              
          </div>
        </div>
      </nav>
      <div class="custom-shape-divider-bottom-1656740841">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <rect x="1200" height="3.6"></rect>
            <rect height="3.6"></rect>
            <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
        </svg>
    </div>
</header>
