{% load static %}

<header>

    
    <div class="container-fluid top-navigation text-center">
        <p>Bakery Shop, Balaju Kathmandu | Daily 9AM-9PM</p>

    </div>
    <nav class="navbar navbar-expand-xl  bg-transparent " >
        <div class="container-fluid">
            
          <a class="navbar-brand" href="/">Bakery House</a>
          <button class="navbar-toggler navbar-toggler-right " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 left-section">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallary">Galary</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
             
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0 right-section">

              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{% static 'images/login_register/—Pngtree—user cartoon avatar pattern flat_4492883.png'%}" alt="" style="height: 50px; width: auto;">
                  {{user.first_name}}
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                  <li><a class="dropdown-item" href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Calander</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="fa fa-sliders fa-fw" aria-hidden="true"></i>  Setting</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
                </ul>
              </li>

              {%else%}
              <li class="nav-item">
                <a class="nav-link cta nav-cta" href="/login"> <button class="btn-login"> Sign In </button> </a>

               </li>


              {%endif%}

               
              
              </ul>
              
          </div>
        </div>
      </nav>
      <div class="custom-shape-divider-bottom-1656740841">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <rect x="1200" height="3.6"></rect>
            <rect height="3.6"></rect>
            <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
        </svg>
    </div>
</header>
